/* IM TUA PAGE STYLES */
.page--im-tua {
  background: var(--color-background-lighter);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.page__title--im-tua {
  color: var(--color-text-dark);
}

.page__subtitle--im-tua {
  color: var(--color-text-dark);
}

.page__text--im-tua {
  color: var(--color-text-dark);
  max-width: 500px;
}

.page__right--im-tua {
  flex-direction: column;
  gap: var(--flex-gap);
}

.page__image--im-tua {
  width: 350px;
  height: 270px;
  object-fit: cover;
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-medium);
  background: #eee;
}

@media (max-width: 1000px) {
  .page__image--im-tua {
    width: 90vw;
    max-width: 400px;
    height: auto;
  }
}
/* === END IM TUA PAGE STYLES === */ 